<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_accessrecords</h1>
        <table border="3px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
            <tr>
                {% for i in EAO %}
                    <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.author}}</td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </center>
</body>
</html>