<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>accessrecords</h1>
        <form action="" method="POST">
            <fieldset style="width: fit-content;">
            {% csrf_token %}
            <label for="name">name</label>
            <select name="name" id="name" multiple>
                {% for wo in LWO %}
                    <option value="{{wo.id}}">{{wo.name}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="retrieve_accessredcords">
        </fieldset>
        </form>
    </center>
</body>
</html>