<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset style="width: fit-content;">
            <label for="topic">topic_name: </label>
            <input type="text" name="topic" id="topic"><br><br>

            <input type="submit" value="Submit">
            </fieldset>
        </form>
    </center>
</body>
</html>